<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">
      <p>Platz für Logo</p>
    </div>
    <ul>
      <li routerLink="/" routerLinkActive="router-link-active"><mat-icon>fact_check</mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="router-link-active"><mat-icon>perm_identity</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <p class="toolbar">
    <mat-toolbar color="primary">
      <mat-icon mat-button (click)="drawer.toggle()">menu</mat-icon>
      <span>Simple CRM</span>
    </mat-toolbar>
  </p>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>


</mat-drawer-container>