<mat-card>
    <table class="user-table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let user of getUsers()" [routerLink]="['/user/' + user.id]">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </tbody>
    </table>
</mat-card>


<button (click)="openDialog()" mat-fab color="primary" class="btn-adduser"
    aria-label="Example icon button with a delete icon" matTooltip="Add new user">
    <mat-icon>add</mat-icon>
</button>